# VERY SENSITIVE 
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1541643284923809933/ZxuPovzXIuQhw-PV-yA7znZtYWezuDQZYKxsg7OBkPhXEVdS3g0NrYMdQ-bQt3DBrbHQ

# SENSITIVE INFORMATION: Add your Discord User IDs here to mention them in the Discord message. Separate multiple IDs with commas.
DISCORD_MENTION_IDS=1338968623095615508,898661166727962626,860461244627419138
